$color-white: #fff;

$color-primary: #cdcdcd;

$color-black: #000;

$size-default: 16px;
$size-mini: 16px;
$size-tiny: 2.5vw;
$size-small: 1.5vw;
$size-medium: 1.25vw;
$size-large: 1.25vw;
$size-big: 1.1vw;
$size-huge: 1vw;
$size-enormous: 18px;
$size-gigantic: 18px;
$size-colossal: 18px;

$from-mini: 400px;
$to-mini: $from-mini - 1;
$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$from-small: 800px;
$to-small: $from-small - 1;
$from-medium: 1000px;
$to-medium: $from-medium - 1;
$from-large: 1200px;
$to-large: $from-large - 1;
$from-big: 1400px;
$to-big: $from-big - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;
$from-enormous: 1800px;
$to-enormous: $from-enormous - 1;
$from-gigantic: 2000px;
$to-gigantic: $from-gigantic - 1;
$from-colossal: 2400px;
$to-colossal: $from-colossal - 1;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
