section.hero {
	pointer-events: none;
	> div {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 0 auto;

		h1 {
			text-align: center;
			div {
				padding-top: rem(4);
			}
		}
	}
}
