section.hero {
	> h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 64vw;

		margin: 0 auto;
		> div {
			overflow: hidden;

			padding-right: rem(0.6);

			span {
				display: inline-block;
				padding-right: rem(1);
			}

			&:last-of-type {
				display: flex;
				justify-content: space-between;

				width: 100%;
			}
		}
	}
}
