section.hero {
	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		margin: 0 auto;
		> div {
			padding-right: rem(1);

			&:last-child {
				margin-top: rem(2);
			}
			> div {
				display: inline-block;
				margin-right: rem(1);
			}
		}
	}
}
