nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	padding: rem(2);

	pointer-events: all;

	font-family: 'ABC', monospace;
	font-weight: 500;
	font-variation-settings: 'MONO' 1;
}
