.hero-container {
	height: 100svh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	section.hero {
		transform: translateY(100%);

		> h1 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			width: 70vw;

			margin: 0 auto;

			@media all and (max-width: $from-small) {
				width: 90vw;
			}

			> div {
				opacity: 1;
				transform: translateY(0);
			}

			span {
				display: inline-block;
				&:last-of-type {
					margin-top: rem(1);
				}
			}
		}
	}
}
