section.hero {
	> h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 70vw;

		margin: 0 auto;

		@media all and (max-width: $from-small) {
			width: 90vw;
		}

		> div {
			opacity: 0;
			transform: translateY(100%);
		}

		span {
			display: inline-block;
			&:last-of-type {
				margin-top: rem(1);
			}
		}
	}
}
