.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: rem(2);
	@media all and (max-width: $from-small) {
		width: 90vw;
	}

	.project_title {
		display: grid;
		grid-template-columns: 1fr 0fr 1fr;
		justify-content: center;
		align-items: center;
		gap: rem(1);
		@media all and (max-width: $from-small) {
			grid-template-columns: unset;
			grid-template-rows: repeat(2, 1fr);
		}
		cursor: pointer;
		> div {
			&:nth-child(1) {
				justify-self: flex-end;
			}
			&:nth-child(2) {
				border-radius: 0%;
			}
			&:nth-child(3) {
				justify-self: flex-start;
			}
			@media all and (max-width: $from-small) {
				&:nth-child(1) {
					justify-self: center;
				}
				&:nth-child(3) {
					justify-self: center;
				}
			}
		}
		.image-container {
			width: 0%;
			height: rem(5);

			border-radius: rem(0.1);

			overflow: hidden;
			img {
				height: rem(5);
				width: rem(10);

				object-fit: cover;
			}
		}
	}
	.project_description {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		@media all and (max-width: $from-small) {
			display: none;
		}

		> p {
			&:nth-child(1) {
				justify-self: flex-end;
			}
			&:nth-child(2) {
				justify-self: center;
			}
			&:nth-child(3) {
				justify-self: flex-start;
			}
		}
	}
}
