.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: rem(2);
	@media all and (max-width: $from-small) {
		width: 90vw;
	}

	> div {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(2);
		@media all and (max-width: $from-small) {
			flex-direction: column;
			gap: rem(1);
		}
	}

	.project_title {
		flex-grow: 1;

		gap: rem(0.5);
		cursor: pointer;
		&:hover {
			.image-container {
				width: rem(10);
				height: rem(5);

				border-radius: rem(0.5);
			}
			img {
				transform: scale(1.2);
			}
		}
		h2 {
			margin-right: rem(1);
		}
		.image-container {
			width: 0%;
			height: rem(5);

			border-radius: rem(0.1);

			overflow: hidden;

			transition: all 0.5s $slower;
			img {
				height: rem(5);
				width: rem(10);

				object-fit: cover;

				transition: all 1s $slower;
			}
		}
	}
	.project_description {
		width: 100%;
		justify-content: space-between;
		background-color: blue;
	}
}
