p,
a {
	font-size: rem(0.95);
	font-weight: 400;
	font-feature-settings: 'calt' on;
	span {
		font-size: rem(1);
	}
}

span {
	text-transform: uppercase;
	&.ft-alt {
		font-family: 'Reckless Neue';
		font-variant-numeric: ordinal;
		font-feature-settings: 'ss14' on;
		font-weight: 400;
	}
	&.ft-alt-it {
		font-family: 'Reckless Neue Italic';
		font-variant-numeric: ordinal;
		font-feature-settings: 'ss14' on;
		font-weight: 400;
	}
}
