@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=JetBrains+Mono:ital,wght@0,100;1,100&family=Space+Mono&display=swap');

@font-face {
	font-family: 'Reckless Neue';
	src: url('./fonts/RecklessNeue-Thin.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Reckless Neue Italic';
	src: url('./fonts/RecklessNeue-ThinItalic.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'ABC';
	src: url('./fonts/ABCDiatypePlusVariable.woff2') format('woff2');
	font-display: swap;
}
