@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=JetBrains+Mono:ital,wght@0,100;1,100&family=Space+Mono&display=swap');

@font-face {
	font-family: 'Albra';
	src: url('/fonts/Albra-Book-Flex.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Albra Grotesk';
	src: url('/fonts/Albra-Grotesk-Flex.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'ABC';
	src: url('/fonts/ABCDiatypePlusVariable.woff2') format('woff2');
	font-display: swap;
}
