h1,
h2 {
	font-family: 'Albra';
	font-variant-numeric: ordinal;
	font-variation-settings: 'wght' 74;
	font-feature-settings: 'calt' 1, 'kern' 1;
	font-size: 3vw;

	text-align: center;

	letter-spacing: rem(-0.2);
	line-height: 0.9;

	color: $color-primary;

	@media all and (max-width: $from-small) {
		font-size: rem(2);
	}
}
