h1,
h2 {
	font-family: 'Albra';
	font-variant-numeric: ordinal;
	> div {
		> div {
			font-variation-settings: 'wght' var(--weight);

			@media all and (max-width: $from-small) {
				font-variation-settings: 'wght' 74;
			}
		}
	}
	font-variation-settings: 'wght' 74;
	font-feature-settings: 'calt' 1, 'kern' 1;
	font-size: 3vw;

	text-align: center;

	letter-spacing: rem(-0.2);
	line-height: 0.9;

	color: $color-primary;

	@media all and (max-width: $from-small) {
		font-size: rem(2);
	}
}

h2 {
	font-variation-settings: 'wght' 74;
	font-size: 5vw;

	@media all and (max-width: $from-small) {
		font-size: rem(3);
	}
}
