@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@font-face {
  font-family: 'Reckless Neue';
  src: url('./fonts/RecklessNeue-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Reckless Neue Italic';
  src: url('./fonts/RecklessNeue-ThinItalic.ttf') format('truetype');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  padding-left: 50px;
  padding-right: 50px;
  mix-blend-mode: difference;
  color: #fff;
}

h1 {
  font-size: 1rem;
  color: #f1f1f1;
  font-weight: 300;
}

.menu-item-text {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #f1f1f1;
  font-weight: 300;
}

.menu-item-text-container {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  position: relative;
  text-transform: uppercase;
  cursor: progress;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 150px;
}

.menu-item::before {
  position: absolute;
  left: -15px;
  top: 0;
}

.menu-item > div:nth-child(1) span {
  will-change: tranform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu-item > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotate(0deg);
}

svg {
  position: absolute;
  left: 50%;
}

nav {
  pointer-events: all;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.description-container {
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

p {
  color: white;
  font-size: 2.2vw;
  font-weight: 200;
  width: 40vw;
  margin-left: 50px;
  text-align: justify;
  pointer-events: none;
  text-indent: 100px;
}

.bottom-margin {
  margin-bottom: 50px;
}

em {
  font-family: 'Reckless Neue Italic';
  font-size: 2.5vw;
}

.serif-text {
  font-family: 'Reckless Neue';
  font-size: 2.5vw;
}
